.card__button_active {
  background-image: url(../../../../images/heart_active.svg);
  width: 24px;
  height: 19px;
  border-style: none;
  background-repeat: no-repeat;
  background-color: white;
  padding: 0 5px 0 0;
  cursor: pointer;
  transition: opacity 0.3s linear 0s;
}

.card__button_active:hover {
  opacity: 0.5;
}