.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 45px auto 40px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 0 auto 42px;
    padding-bottom: 31.6px;
  }
}