.menu__user-info-changes-button {
  background-image: url(../../../images/changes_button.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: black;
  margin-left: 20px;
  border-style: none;
  cursor: pointer;
  transition: opacity 0.3s linear 0s;
}

.menu__user-info-changes-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .menu__user-info-changes-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}