.card__button-trash {
  background-image: url(../../../images/Trash.svg);
  width: 18px;
  height: 19px;
  border-style: none;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 5px 0 0;
  cursor: pointer;
  transition: opacity 0.3s linear 0s;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__button-trash:hover {
  opacity: 0.6;
}