.popup__close-btn {
  background-image: url(../../../images/Close_Icon.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s linear 0s;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}