.menu__user-working {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 900px) {
  .menu__user-working {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
}